# =========================
# Dependencies
# =========================
node_modules/

# Bun
.bun/
bun.lockb

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build / Production
# =========================
dist/
build/
coverage/
.next/
out/

# =========================
# Cache
# =========================
.cache/
.parcel-cache/
.vite/
expo-web/
.metro-health-check*

# =========================
# React Native / Expo
# =========================
.expo/
.expo-shared/
android/
ios/

# React Native Debug
*.hprof

# Expo
web-build/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# MongoDB
# =========================
data/
*.mongodb

# =========================
# Uploads
# =========================
uploads/
public/uploads/

# =========================
# Testing
# =========================
coverage/
.nyc_output/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editors / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo



# =========================
# Firebase
# =========================
.firebase/

# =========================
# Misc
# =========================
*.local

